<div class="row py-2">

  <div class="col-md-9 col-xs-12 mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let lineItem of content?.lineItems">
        <th scope="row">1</th>
        <td>{{lineItem.productDto.name}}</td>
        <td>
          <input #countItem type="number" value="{{lineItem.qty}}" class="form-control w-25"/>
        </td>
        <td>{{lineItem.itemTotal}}</td>
        <td>
          <input  type="button" (click)="save(lineItem, countItem.valueAsNumber)" class="btn btn-success me-2"/>
          <input type="button" (click)="delete(lineItem)" class="btn btn-danger"/>
        </td>
      </tr>

      </tbody>
    </table>
    <button (click)="clear()" class="btn btn-danger">Clear Cart</button>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h2>Order summary</h2>
        <p>Subtotal: {{content?.subtotal}}</p>
        <button class="btn btn-primary me-2">Create Order</button>
      </div>
    </div>
  </div>

</div>
